!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Gradle Files
.gradle/
build/
*/build/
*/.config.cache
out/
*/out/

### IntelliJ IDEA ###
*.iml
*/*.iml
.idea/
*/.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Log Files
*.log
logs/
log/

### VS Code ###
.vscode/

# OSX Files
*/.DS_Store
.DS_Store

# Other Files
Thumbs.db
*.bak
*.tem

# Maven Files
target/

# gRPC Source Files
*/generatedSrc/

# gradle wrapper Files
/gradle/
/gradlew
/gradlew.bat
